#bg-img-text {
  background-image: url("./images/CDome-StoryImage.jpg");
  background-size: cover;
  background-position: center;
  height: 12em;
  width: auto;
  display: flex;
  justify-content: ;
}
#bg-img-text p {
  display: flex;
  flex-direction: column-reverse;
  margin-left: 1em; 

}
#background{
margin: 0px;
padding: 0px;
 background-image: url("./images/Field-StoryImage.jpg");
  background-position: center;
}
